.App 
{
  text-align: center;
}

input
{
  height: 20px;
  width: 300px;
  margin-right: 10px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Todo_Container{
  margin-top: 100px;
  border-radius: 20px;
  border: 1px solid black;
  overflow: auto;
}
.TodoC{
  display: flex;
  align-items: center;
  justify-content: center;
}

.TodoC h3{
  margin-left: 10px;
  margin-right: 40px;
}

.TodoC button{
  margin: 5px;
  float: right;
}