.App {
  text-align: center;
}

.Header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.headerbtn button{
  margin-right: 10px;
}

.Retailer
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Retailer1
{
  width: 35%;
  border: 1px solid black;
}

.Retailer2
{
  width: 35%;
  border: 1px solid black;
}

.Retailer3
{
  width: 33%;
  border: 1px solid black;
}

table
{
  width: 100%;
}

.add {
  font-weight: normal;
  font-size: smaller;
}

.tel
{
  font-weight: normal;
  font-size: smaller;
}

